/* RESET */

@font-face {
  font-family: 'Franklin';
  src: url('fonts/franklin-normal-700.ttf')  format('truetype')
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html{
  font-size: 10px;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  font-weight: normal;
  line-height: 1;
  color: #444;
}

/* END */

nav{
  background-color: white;
  height: 3rem;
}

.center-col {
  /* background-color: hotpink; */
  width: 84%;
  margin: 2rem auto;
  min-height: 300vh;
}

.main-heading{
  background-color: #00cec9;
  height: 3rem;
  width: 60%;
  margin: 2rem auto; 
}

.main-image{
  width: 100%;
}

.article-sidebar {
  display: flex;
  margin-left: 20%;
  height: 100vh;
}

.article-sidebar article{ 
  flex-grow: 2;
}

.sidebar {
  flex-grow: 1;
}

.first-article-part{
  background-color: aquamarine;
}

.sidebar {
  background-color: #ffeaa7;
}

.secondary-image-box{
  width: 70%;
  margin: 1rem auto;
}

.secondary-image-box img{
 width: 100%;
}

.second-article-part {
  height: 100rem;
  width: 60%;
  margin: 2rem auto; 
  background-color: #a29bfe;
}

.suggested-articles {
  background-color: #00b894;
  height: 40rem;
}

.footer{
  background-color: #e17055;
  height: 40rem;
}


/* NAVBAR */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(226,226,226);
  padding: 2.1rem 1.3rem;
}

nav .burger-icon, nav .search-icon {
  width: 1.6rem;
  height: 1.6rem;
}

nav .burger-icon-button, nav .search-icon-button {
  margin-right: .5rem;
  width: 3.3rem;
  height: 3.3rem;
  background-color: transparent;
  border: none;
  transition: all .5s;
}


nav .burger-icon-button:hover, nav .search-icon-button:hover {
  border-radius: 3px;
  background-color: #f7f7f7;
  border: none;
  cursor: pointer;
}


nav .article-category a {
  font-size: 1.5rem;
  font-weight: 700;
  font-family: Franklin;
  text-decoration: none;
  text-transform: uppercase;
  transition: all .5s;
}


nav .article-category a:hover{
  text-decoration: underline;
  font-weight: bold;
}

nav .nyt-logo {
  width: 19.5rem;
} 

.left-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.article-category {
  margin-left: 2rem;
}

.right-menu button{
  background-color: rgb(98,136,165);
  border: 1px solid #333;
  color: white;
  border-radius: 3px;
  text-transform: uppercase;
  padding: .8rem 1.2rem; 
  font-weight: bold;
  transition: all .5s;
}

.right-menu button:hover {
  background-color: rgb(50,104,145);
}

.middle-logo {
  height: 2.1rem;
}

button {
  cursor: pointer;
}


/* END */